/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

*:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: #121212;
}

body {
  font-size: 16px;
  font-family: Pangolin, sans-serif;
  margin: 0;
  color: var(--on-background);
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23aeaeae' fill-opacity='0.45' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--on-background);
}

footer a {
  text-decoration: none;
  color: var(--background);
  padding: 0 5px;
  border: 1px solid rgba(0, 0, 0, 0);
}

a:hover {
  text-decoration: none;
  border-bottom: 2px solid var(--secondary-color);
  color: var(--on-background);
}

.content {
  padding: 0 20px;
  margin-bottom: 60px;
}

nav {
  display: grid;
  grid-auto-flow: column;
  border-bottom: 2px solid var(--primary-color);
  margin-bottom: 20px;
}

ul {
  padding: 5px 20px;
}

.left,
.right {
  grid-gap: 10px;
  list-style: none;
  display: grid;
  align-items: center;
}

.left {
  grid-template-columns: 50px repeat(4, max-content);
}

.category-link {
  display: list-item;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.right {
  grid-auto-flow: column;
  justify-content: right;
}

.username {
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.left img {
  width: 100%;
}

footer {
  background: var(--on-background);
  padding: 10px 20px;
  color: var(--background);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

footer button:hover {
  color: var(--on-background);
  background: var(--background);
}

.home-title,
.home-subtitle {
  text-align: center;
}

.home-best-article-container a {
  display: grid;
  grid-template-rows: 400px 4rem max-content;
  transition: 0.3s;
  grid-gap: 10px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 30px;
  color: var(--on-background);
  background-color: var(--background);
  margin-bottom: 20px;
}

.home-article-container a {
  display: grid;
  grid-template-rows: 30px 250px max-content;
  transition: 0.3s;
  grid-gap: 8px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
  padding: 15px;
  color: var(--on-background);
  background-color: var(--background);
}

.home-article-container h2 {
  grid-row: 1;
}

.category-show-container a {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
  border-radius: 5px;
  color: var(--on-background);
  background-color: var(--background);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  height: 350px;
}

footer a:hover {
  border: 1px solid var(--background);
  color: var(--background);
}

.category-show-container a:nth-child(4n),
.category-show-container a:nth-child(4n-1) {
  direction: rtl;
}

.home-best-article-container a:hover {
  color: var(--background);
  background-color: var(--on-background);
  text-decoration: none;
}

.home-articles-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  margin: 20px 0;
  grid-gap: 10px;
}

.home-article-container a:hover {
  color: var(--background);
  background-color: var(--on-background);
  border-bottom: none;
}

.article-show-container {
  display: grid;
  grid-template-rows: 30vh max-content;
  background-color: var(--background);
  color: var(--on-background);
  grid-gap: 15px;
  border-radius: 15px;
  border: 1px solid var(--on-background);
  margin-bottom: 20px;
  padding: 20px 20%;
  box-shadow: var(--box-shadow);
}

.article-show-container img {
  width: auto;
  justify-self: center;
}

.article-show-container input[type="submit"] {
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  padding: 5px;
  text-transform: uppercase;
}

.article-new-container {
  display: grid;
  justify-content: center;
  margin: 20px 0;
}

.article-new-container form {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--background);
  color: var(--on-background);
}

.field_with_errors input,
.field_with_errors textarea,
.field_with_errors select {
  width: 100%;
}

.flash.notice {
  color: #121212;
}

.category-show-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 20px;
}

.category-show-container img {
  border: 1px solid white;
  border-radius: 5px;
  grid-row: span 3;
  object-fit: cover;
}

.category-show-container a:hover {
  text-decoration: none;
  background-color: var(--on-background);
  color: var(--background);
  border-bottom: none;
}

/* for mobile or tablet sizes */
@media only screen and (max-width: 768px) {
  .category-link {
    display: none;
  }

  body {
    font-size: 10px;
  }

  .home-articles-container {
    grid-template-columns: 1fr;
  }

  .category-show-container {
    grid-template-columns: 1fr;
  }

  .theme-switch-wrapper {
    font-size: 0.7rem;
  }

  .theme-switch-wrapper .toggle-text {
    display: none;
  }
}
