<footer>
    <p>
        Site by
        <%= link_to 'Kyle Law','https://github.com/Kyle-Law' %>
    </p>

    <!-- Social Media Buttons -->
    <div>
        <p>Connect with me at: 
        <button type="button" onclick="window.open('https://github.com/Kyle-Law','_blank')">
            <!-- Icon -->
            <i class="fab fa-github"></i>
        </button>
        <button type="button" onclick="window.open('https://www.linkedin.com/in/kyle-lawzhunkhing/','_blank')">
            <!-- Icon -->
            <i class="fab fa-linkedin"></i>
        </button>
        <button type="button" onclick="window.open('https://twitter.com/ZhunKhing','_blank')">
            <!-- Icon -->
            <i class="fab fa-twitter"></i>
        </button>
        
        
    </div>
</footer>